<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selge_bil">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".Persistencia"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.vendedor.EditInfoVendedor"></activity>
        <activity android:name=".activities.comprador.EditInfo" />
        <activity android:name=".activities.vendedor.RegisterVendedorActivity" />
        <activity android:name=".activities.comprador.RegisterCompradorActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.vendedor.VendedorActivity" />
        <activity android:name=".activities.comprador.CompradorActivity" />
        <activity android:name=".activities.SelectOptionAuthActivity" />
        <activity android:name=".activities.MainOption">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sellerOptions.MainActivity_Vendedor"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".buyerOptions.MainActivity_Comprador"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.selge_bil"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBfLQtcwcEwtX1Ry8t5lb5gsHNGsC0vYKU" />
    </application>

</manifest>